.demo-card-wide.mdl-card {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    width: 80%;
  }
.titulo_card{
    text-align: center;
}
  .texto{  
    text-align: justify;
  }