body{
    background-color: #FAFAFA;
    padding: 0;
}

.items{
  margin-top: 0%;
  margin-bottom: 0%;
}
.centrar-texto{
    margin-bottom: 5%;
    align-items: center;
}

.contenedor1{
    padding-top: 20%;
    padding-bottom: 50;
    padding-left: 3%;
    padding-right: 3%;
    
}

.contenedor2{
    padding-top: 10%;
    padding-bottom: 50;
    padding-left: 3%;
    padding-right: 3%;
    
}

.footer_style{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}